<div class="container mt-4 mb-4 rounded-4  bg ">
    <div class="row featurette ">
        <div *ngIf="cuadro" class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1 text-center mb-3">{{cuadro.nombre}} <span class="text-body-secondary"><br><br>
                    [ Cantidad de productos {{ cuadro.productos}} ]</span></h2>
        
            <ul class="list-unstyled">
                <li>
                    <p>Cantidad de productos: {{cuadro.productos}}</p>
                </li>
                <li>
                    <p>Valor total: {{cuadro.precio}}€</p>
                </li>
                <li>
                    <p>Precio total: {{cuadro.precio}} + Iva de 21%  <br> Total:  {{cuadro.precio +(cuadro.precio * 0.21) }} €</p>
                   
                </li>
                <li>
                    <p>Tiempo de entrega estimado: 3 a 7 días</p>
                </li>
            </ul>
            <h3 class="text-center " > Precio total : {{cuadro.precio +(cuadro.precio * 0.21) }} € </h3>
            <div class="d-flex justify-content-center mt-4 mb-4">
            <button (click)="agregarAlCarrito(cuadro)"  class="btn btn-primary ">Añadir al carrito</button>

            
         
            </div>

            
        </div>
        <div *ngIf="alertMessage" class="alert alert-info text-center">
            {{ alertMessage }}
          </div>
        <div class="col-md-5 order-md-1">
            <img  [src]="cuadro?.img" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid rounded-4 mt-4 ms-auto" width="450"
                height="500"role="img" >
                <title>Placeholder</title>
        </div>
    </div>
    
      <h2 class="text-center mt-5">Descripción y valor del producto</h2>
   

</div>