<div class="container ">
  <h2 class="text-center mb-4 ">Productos Destacados</h2>
    <div class="row">
      <div *ngFor="let item of paless" class="col-md-4">
        <div (click)="verPale(item.id)" class="card mb-4 box-shadow">
          <img class="card-img-top" src="pale.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;">
          <div class="card-body">
            <h3 class="featurette-heading fw-normal lh-1 mb-3 mt-3"> {{paless[0].nombre}}<span class="text-body-secondary"><br>
            </span></h3>
             <p class="lead">Palé de Electrodomésticos sin revisar procedente de Amazon Devoluciones</p>
            <div class="d-flex justify-content-center align-items-center">
              <button   class="btn btn-primary">Ver contenido</button>
            </div>
          </div>
        </div>
</div>

  </div>