<div class="container  bg-body-tertiary">
    <div class="row">
      <div class="col-md-6">
        <h3>Detalles de facturación</h3>
        <form>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" required>
          </div>
          <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" required>
          </div>
          <div class="form-group">
            <label for="empresa">Nombre de la empresa (opcional)</label>
            <input type="text" class="form-control" id="empresa">
          </div>
          <div class="form-group">
            <label for="nif">NIF/CIF/NIE</label>
            <input type="text" class="form-control" id="nif" required>
          </div>
          <div class="form-group">
            <label for="pais">País / Región</label>
            <select class="form-control" id="pais" required>
              <option>España</option>
            </select>
          </div>
          <div class="form-group">
            <label for="direccion">Dirección de la calle</label>
            <input type="text" class="form-control" id="direccion" required>
          </div>
          <div class="form-group">
            <label for="codigoPostal">Código postal / ZIP</label>
            <input type="text" class="form-control" id="codigoPostal" required>
          </div>
          <div class="form-group">
            <label for="poblacion">Población</label>
            <input type="text" class="form-control" id="poblacion" required>
          </div>
          <div class="form-group">
            <label for="provincia">Provincia</label>
            <select class="form-control" id="provincia" required>
              <option>Murcia</option>
              <!-- Agregar más provincias según sea necesario -->
            </select>
          </div>
          <div class="form-group">
            <label for="notas">Notas del pedido (opcional)</label>
            <textarea id="notas" class="form-control"></textarea>
          </div>
        </form>
        
      </div>
      <div class="col-md-6">
        <h3>Tu pedido</h3>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Palé de Electrodomésticos [25 productos]</h6>
              <small class="text-muted">(DSV24002030)</small>
            </div>
            <span class="text-muted">962,81 €</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Subtotal (sin impuestos)</span>
            <strong>962,81 €</strong>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>IVA</span>
            <strong>202,19 €</strong>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total</span>
            <strong>1.165,00 €</strong>
          </li>
        </ul>
        <form>
          <div class="form-group">
            <label for="tarjeta">Número de Tarjeta de Crédito</label>
            <input type="text" class="form-control" id="tarjeta" placeholder="1234 1234 1234 1234" required>
          </div>
          <div class="form-group">
            <label for="vencimiento">Vencimiento</label>
            <input type="text" class="form-control" id="vencimiento" placeholder="MM/AA" required>
          </div>
          <div class="form-group">
            <label for="cvc">CVC</label>
            <input type="text" class="form-control" id="cvc" placeholder="CVC" required>
          </div>
          <div class="d-flex justify-content-center mt-4 mb-3">
          <button type="submit" class="btn btn-primary mx-auto">Realizar el pago</button>
          </div>
        </form>

      </div>
    </div>
  </div>