<div class="container ">
    <div class="table-responsive mt-4">
        <table class="table text-center border-secundary">
            <thead>
                <tr>
                    <th style="width: 34%;">Pales</th>

                    <th style="width: 22%;">Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <th scope="row" class="text-start"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                            viewBox="0 -960 960 960" width="24px" fill="#EA3323">
                            <path
                                d="m336-280 144-144 144 144 56-56-144-144 144-144-56-56-144 144-144-144-56 56 144 144-144 144 56 56ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
                        </svg> Palé de Electrodomésticos [25 productos] (DSV24002030)


                    <td>1450</td>
                </tr>
                <tr>
                    <th scope="row" class="text-start"> <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                            viewBox="0 -960 960 960" width="24px" fill="#EA3323">
                            <path
                                d="m336-280 144-144 144 144 56-56-144-144 144-144-56-56-144 144-144-144-56 56 144 144-144 144 56 56ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
                        </svg> Palé de Electrodomésticos [18 productos] (DSV24002024)


                    <td>3250 €</td>
                </tr>
            </tbody>

            <tbody>
                <tr>
                    <th (click)="verPale()" scope="row" class="text-start">
                        
                        <svg (click)="borrarPale($event)" xmlns="http://www.w3.org/2000/svg" height="24px"
                            viewBox="0 -960 960 960" width="24px" fill="#EA3323">
                            <path
                                d="m336-280 144-144 144 144 56-56-144-144 144-144-56-56-144 144-144-144-56 56 144 144-144 144 56 56ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
                        </svg>
                        Palé de Electrodomésticos [23 productos] (DSV24001942)

                    <td>5000 € </td>
                </tr>
                <tr>
                    <th scope="row" class="text-start"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                            viewBox="0 -960 960 960" width="24px" fill="#EA3323">
                            <path
                                d="m336-280 144-144 144 144 56-56-144-144 144-144-56-56-144 144-144-144-56 56 144 144-144 144 56 56ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
                        </svg>
                        Palé de Electrodomésticos [5 productos] (DSV24001725)


                    <td>1400 </td>
                </tr>
                <tr>
                    <th scope="row" class="text-start"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                            viewBox="0 -960 960 960" width="24px" fill="#EA3323">
                            <path
                                d="m336-280 144-144 144 144 56-56-144-144 144-144-56-56-144 144-144-144-56 56 144 144-144 144 56 56ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
                        </svg>
                        Palé de Electrodomésticos [5 productos] (DSV24001725)
                   


                    <td>1500 € </td>

                </tr>
            </tbody>
        </table>
    </div>




    <div class="mt-4">
        <div class="card rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
                <h4 class="my-0 fw-normal text-center">Realizar pago</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title text-center">1.165,00 €<small
                        class="text-body-secondary fw-light"> Precio total</small></h1>
                <ul class="list-unstyled mt-3 mb-4 text-center">
                    <li>Subtotal 962,81 € (sin impuestos)</li>
                    <li>IVA 202,19 €</li>
                    <li>Total 1.165,00 €</li>
                </ul>
                <button [routerLink]="['/carrito-end']"   type="button" class="w-100 btn btn-lg btn-outline-primary">Finalizar Compra</button>
            </div>
        </div>
    </div>

    <div class="mt-5 text-center bg-body-tertiary rounded-4 mb-5">
        <img src="repart2.png" alt="">
        <h1 class="text-body-emphasis">¡No te Pierdas Nuestras Ofertas Exclusivas!</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Suscríbete a nuestro boletín y sé el primero en enterarte de nuestras ofertas especiales y novedades.
        </p>
        <p>No dejes pasar la oportunidad de ahorrar en tus compras!</p>
        <p>¡Suscríbete ahora y <code> recibe un 10% de descuento en tu primera compra!</code></p>
        <div class="d-inline-flex gap-2 mb-5">
            <button routerLinkActive="router-link-active"
                class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
                Suscribe
            </button>
        </div>
    </div>
</div>